.navlist ul {
    margin: 0;
    padding: 0;
}

.navlist ul li {
    display: inline-block;
    text-decoration: none;
}

.navlist ul li a {
    color: black;
    font-size: 25px;
    margin-right: 15px;
}

.navlist ul li a:hover {
    color: grey;
}

.end {
    float: end;
    right: 0;
}